<div class="col-10 offset-1">
  <h1>About Splurty</h1>

  <p>Ask Barry is a random quote generator app developed <a target="_blank" href="http://github.com/dwilliams64"><strong>Dimitri Williams</strong></a> using the Ruby on Rails framework.</p>
  
  <br />
  
  <p>Orginally the project was supposed to be an app that splurted out random video game quotes. After some inspiration from his younger brother, Dimitri decided to theme the project after Barry Burton, a famous character from the video game series Resident Evil. Users are able to contribute their own quotes for Barry to randomly splurt out by clicking on the "contribute" link.  Users can also ask Barry to splurt out a random quote by clicking "Ask Barry for another quote" or by clicking on the Barry Burton icon.</p>
  
  
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid pic_border' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Dimitri Williams</h2>
      <br />
      
      <p>Dimitri Williams is an aspiring web developer from San Antonio Texas. He currently works as a contractor for the military, where he helps develop UI features for military training course ware. Currently he is studying to advance his coding skills. He plans to one day become a full time software engineer and work with web and mobile apps.</p>
      
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'barry_burton_05.png', class: 'img-fluid pic_border' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Barry Burton</h2>
      
      <br />
      
      <p>Barry Burton is a middle-aged SWAT-veteran and STARS Alpha Team's weapons specialist. In the original Resident Evil, Barry plays a supporting role in Jill's story while only appearing briefly in the opening scene of Chris' scenario. During the course of the game, it is revealed that he was blackmailed into betraying his teammates by Albert Wesker, who threatened to harm his family if he refused. He returns in Resident Evil 3: Nemesis, where he helps Jill and Carlos escape from Raccoon City before its destruction. Barry also appears in the non-canonical game Resident Evil Gaiden as one of its two player characters, and as a DLC character in the Resident Evil 5 Mercenaries Reunion mode.</p>
      
    </div>
  </div>
  
<br class="clear" />
<br />
<br />
<br />
<br />

</div>


