<div class="col-10 offset-1">
    <h1>About Splurty</h1>
    
    <p>Splurty was built by <a target="_blank" href="http://github.com/dwilliams64">Dimitri Williams</a></p>
    
    <br>
    
    <p>Lorem ipsum dolor sit amet, fierent atomorum assentior quo id, id adhuc tempor eleifend mea. Veri inimicus voluptatum pro et. Ex eam tota volumus erroribus. Ea per illud doctus deleniti, sit populo noluisse omittantur et. Mei ullum utamur in.
    </p>
    
    <div class="row">
        <div class="col-12 col-sm-4">
            <%= image_tag "me.jpg", class: "img-fluid" %>
        </div>
        
        <div class"col-12 col-sm-7 offset-1">
            <h2 class="text-center">Dimitri</h2>
            <br>
            
            <p>Lorem ipsum dolor sit amet, fierent atomorum assentior quo id, id adhuc tempor eleifend mea.</p>
        </div>
    </div>
    
</div>