@import "bootstrap";
@import  url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Crete+Round');


.clear{
    clear: both;
    
}

header{
    border-bottom: 1px solid black;
}

.barry{
    height: 140px;
    width: 150px;
    position: relative;
    margin-left: 20px;
}

.slogan{
    font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    font-style: italic;
    padding-top: 26px;
    color: white;
    text-align: center;
    padding-left: 50px;
}

.links{
    padding-top: 26px;
    padding-left: 15%;
}

.links a{
    color: white;
    font-size: 25px;
    font-family: 'Lobster', cursive;
    
    
}

header{
  
    background: #a90329;
    background: -moz-linear-gradient(left, #a90329 18%, #8f0222 65%, #6d0019 81%, #6d0019 95%);
    background: -webkit-linear-gradient(left, #a90329 18%,#8f0222 65%,#6d0019 81%,#6d0019 95%);
    background: linear-gradient(to right, #a90329 18%,#8f0222 65%,#6d0019 81%,#6d0019 95%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 );
   
}

hr{
    clear: both;
}

h1{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 40px;
    
}

h2{
    font-family: 'Lobster', cursive;
    
}

h2 span{
    
    font-weight: bold;
}

.next-qoute{
    color: white;
    font-family: 'Crete Round', serif;
    font-weight: bold;
    font-size: 30px;
    
}

.footer-blurb{
    font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    font-style: italic;
    text-align: right;
    color: #e3e3f7;
    font-weight: 600;
}

.footer-blurb span{
    font-weight: 700;
}

a:hover{
   color: #76a9fc;
}

.logo:hover{
    text-decoration: none;
}

@media (max-width: 750px){
    .footer-blurb{
        text-align: left;
    }
}

::selection{
    background-color: #76a9fc;
}


p{
   font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif; 
}

.pic_border{
   border: 1px solid black; 
}



